h4.useful-links__title People may know
ul.useful-links__list
  li
    a(href="") Tweeter 1 @tweeter1
  li
    a(href="") Tweeter 2 @tweeter2
  li
    a(href="") Tweeter 3 @tweeter3
  li
    a(href="") Tweeter 4 @tweeter4
