footer(role='contentinfo')
  .container
    p Twitter is a registered trademark of Twitter Inc. This project is just for educational purpose only.
    p
      | Designed and built with all the love by Kelvin
      
      
